<%- include partials/header.ejs %>

<body>

    <form method="POST" action="/<%=location%>/homes">

        <h1>New Home</h1>

        <h2>Title</h2>
        <input type="text" name="title">
        <h2>Subtitle</h2>
        <input type="text" name="subtitle">
        <h2>Price</h2>
        <input type="text" name="price">
        <h2>Image</h2>
        <input type="text" name="image"> <br>
        <button>Criar</button>

    </form>

</body>


</html>