@font-face {
    font-family: Circular;
    unicode-range: U+F0000-FFFFD;
    src: url("https://a0.muscache.com//airbnb/static/airbnb-dls-web/build/fonts/airmojix-Regular-366effb9c81975489f838264ba0b1b9e.woff2") format("woff2"),url("https://a0.muscache.com//airbnb/static/airbnb-dls-web/build/fonts/airmojix-Regular-7e7f7fe70edfe5c588188d4c92e140c0.woff") format("woff");
    font-weight: normal
}

@font-face {
    font-family: Circular;
    unicode-range: U+F0000-FFFFD;
    src: url("https://a0.muscache.com//airbnb/static/airbnb-dls-web/build/fonts/airmojix-Regular-366effb9c81975489f838264ba0b1b9e.woff2") format("woff2"),url("https://a0.muscache.com//airbnb/static/airbnb-dls-web/build/fonts/airmojix-Regular-7e7f7fe70edfe5c588188d4c92e140c0.woff") format("woff");
    font-weight: 600
}

@font-face {
    font-family: Circular;
    unicode-range: U+F0000-FFFFD;
    src: url("https://a0.muscache.com//airbnb/static/airbnb-dls-web/build/fonts/airmojix-Regular-366effb9c81975489f838264ba0b1b9e.woff2") format("woff2"),url("https://a0.muscache.com//airbnb/static/airbnb-dls-web/build/fonts/airmojix-Regular-7e7f7fe70edfe5c588188d4c92e140c0.woff") format("woff");
    font-weight: 800
}

@font-face {
    font-family: Circular;
    src: url("https://a0.muscache.com//airbnb/static/airbnb-dls-web/build/fonts/Airbnb_Cereal-Book-9a1c9cca9bb3d65fefa2aa487617805e.woff2") format("woff2"),url("https://a0.muscache.com//airbnb/static/airbnb-dls-web/build/fonts/Airbnb_Cereal-Book-aa38e86e3f98554f9f7053d7b713b4db.woff") format("woff");
    font-weight: normal;
    font-style: normal
}

@font-face {
    font-family: Circular;
    src: url("https://a0.muscache.com//airbnb/static/airbnb-dls-web/build/fonts/Airbnb_Cereal-Medium-50fc004b3082375f12ff0cfb67bf8e56.woff2") format("woff2"),url("https://a0.muscache.com//airbnb/static/airbnb-dls-web/build/fonts/Airbnb_Cereal-Medium-4bc8dafd2e0fd8914bf4d5edce9acd24.woff") format("woff");
    font-weight: 600;
    font-style: normal
}

@font-face {
    font-family: Circular;
    src: url("https://a0.muscache.com//airbnb/static/airbnb-dls-web/build/fonts/Airbnb_Cereal-Bold-bdfb98485e7836ba31b456f65cded088.woff2") format("woff2"),url("https://a0.muscache.com//airbnb/static/airbnb-dls-web/build/fonts/Airbnb_Cereal-Bold-a188841af78481a25b7bb2316a5f5716.woff") format("woff");
    font-weight: 800;
    font-style: normal
}

@font-face {
    font-family: Airmoji_Standalone;
    src: url("https://a0.muscache.com//airbnb/static/airbnb-dls-web/build/fonts/airmojix-Regular-366effb9c81975489f838264ba0b1b9e.woff2") format("woff2"),url("https://a0.muscache.com//airbnb/static/airbnb-dls-web/build/fonts/airmojix-Regular-7e7f7fe70edfe5c588188d4c92e140c0.woff") format("woff");
    font-weight: normal;
    font-style: normal
}

@font-face {
    font-family: Airglyphs;
    src: url("https://a0.muscache.com//airbnb/static/airbnb-o2/fonts/airglyphs-139243732eb385739de009f35c5b5a8a.woff") format("woff"),url("https://a0.muscache.com//airbnb/static/airbnb-o2/fonts/airglyphs-5dd147750d8ad850b63abdcbfed41c62.ttf") format("truetype");
    font-weight: normal;
    font-style: normal
}
